<header class="header">
  <div class="container">
    <nav class="navigation">
      <a class="logo link" href="./index.html">
        <svg class="logo-icon" width="66px" height="52px">
          <use href="../images/sprite.svg#logo-icon"></use>
        </svg>
      </a>

      <ul class="page-list">
        <li class="page-list__item">
          <a href="" class="page-list__link">Home</a>
        </li>

        <li class="page-list__item">
          <a href="" class="page-list__link">About</a>
        </li>

        <li class="page-list__item">
          <a href="" class="page-list__link">Service</a>
        </li>

        <li class="page-list__item">
          <a href="" class="page-list__link">Menu</a>
        </li>

        <li class="page-list__item">
          <a href="" class="page-list__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>

  <button type="button" class="btn primary-button header__primary-button">
    Order Now
  </button>

  <button>
    <svg class="logo-icon" width="28px" height="28px">
      <use href="../images/sprite.svg#menu-icon"></use>
    </svg>
  </button>
</header>
